# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit tests / coverage reprots
htmlcov/
.cache
.coverage
.coverage.*
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json


# local
temp*
venvcmd.sh
*.csv
files/
*.mrc
*.mrk
*.gz
!tests/sample.mrc
!tests/for-deletion-sample.csv